Repository mantoshmedhansh-dot/lma: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, admin, superadmin

Add pnpm-lock.yaml for reproducible builds
  pnpm-lock.yaml
Due: none

Add Python FastAPI backend and project configuration
  CLAUDE.md
  apps/superadmin/next-env.d.ts
  apps/web/next-env.d.ts
  package.json
  packages/api-python/.gitignore
  packages/api-python/Dockerfile
  packages/api-python/app/__init__.py
  packages/api-python/app/core/__init__.py
  packages/api-python/app/core/config.py
  packages/api-python/app/core/security.py
  packages/api-python/app/core/supabase.py
  packages/api-python/app/main.py
  packages/api-python/app/models/__init__.py
  packages/api-python/app/models/driver.py
  packages/api-python/app/models/merchant.py
  packages/api-python/app/models/order.py
  packages/api-python/app/models/user.py
  packages/api-python/app/routers/__init__.py
  packages/api-python/app/routers/auth.py
  packages/api-python/app/routers/deliveries.py
  packages/api-python/app/routers/health.py
  packages/api-python/app/routers/merchants.py
  packages/api-python/app/routers/orders.py
  packages/api-python/render.yaml
  packages/api-python/requirements.txt
  pnpm-lock.yaml
Due: web, superadmin

Add .vercel to web app gitignore
  apps/web/.gitignore
Due: web

Update Supabase project configuration in CLAUDE.md
  CLAUDE.md
Due: none

Fix mobile lint and Vercel deploy workflow
  .github/workflows/deploy.yml
  apps/mobile/.eslintrc.json
Due: none

Fix build errors for Vercel deployment
  CLAUDE.md
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(main)/orders/page.tsx
  apps/web/package.json
  packages/api/package.json
  packages/api/src/lib/logger.ts
  packages/api/src/services/ondc.ts
  packages/api/tsconfig.json
  pnpm-lock.yaml
Due: api, web

Fix Vercel build: use next build directly instead of turbo
  apps/admin/package.json
  apps/web/vercel.json
  pnpm-lock.yaml
Due: web, admin

Add root vercel.json to build only web app
  apps/superadmin/app/(dashboard)/orders/page.tsx
  vercel.json
Due: superadmin

Remove root vercel.json, use apps/web as Root Directory
  apps/admin/next-env.d.ts
  vercel.json
Due: admin

Fix Vercel install/build split in vercel.json
  apps/web/vercel.json
Due: web

Add Stripe payment integration for checkout flow
  apps/web/app/(main)/checkout/page.tsx
  apps/web/package.json
  packages/api-python/app/main.py
  packages/api-python/app/models/order.py
  packages/api-python/app/routers/__init__.py
  packages/api-python/app/routers/orders.py
  packages/api-python/app/routers/payments.py
  pnpm-lock.yaml
Due: web

Add 10 missing frontend pages to eliminate dead links
  apps/web/app/(main)/about/page.tsx
  apps/web/app/(main)/favorites/page.tsx
  apps/web/app/(main)/help/page.tsx
  apps/web/app/(main)/partner/page.tsx
  apps/web/app/(main)/privacy/page.tsx
  apps/web/app/(main)/profile/edit/page.tsx
  apps/web/app/(main)/profile/notifications/page.tsx
  apps/web/app/(main)/profile/payments/page.tsx
  apps/web/app/(main)/profile/settings/page.tsx
  apps/web/app/(main)/terms/page.tsx
Due: web

Fix Vercel build error: use client redirect for dashboard home page
  apps/web/app/(dashboard)/page.tsx
Due: web

Remove conflicting (dashboard)/page.tsx that broke Vercel build
  apps/web/app/(dashboard)/page.tsx
Due: web

Update CLAUDE.md with complete deployment settings
  CLAUDE.md
Due: none

Rewrite driver app from marketplace model to hub-based delivery system
  apps/driver/app/(tabs)/_layout.tsx
  apps/driver/app/(tabs)/home.tsx
  apps/driver/app/(tabs)/orders.tsx
  apps/driver/app/(tabs)/profile.tsx
  apps/driver/app/(tabs)/route.tsx
  apps/driver/app/(tabs)/stops.tsx
  apps/driver/app/delivery/[orderId].tsx
  apps/driver/lib/api/client.ts
  apps/driver/lib/api/delivery.ts
  apps/driver/lib/hooks/useRouteOptimization.ts
  apps/driver/lib/store/earnings.ts
  apps/driver/lib/store/orders.ts
  apps/driver/lib/store/route.ts
  apps/driver/lib/types/route.ts
Due: none

Fix production alerts workflow: permissions, cold-start retry, schedule
  .github/workflows/alerts.yml
Due: none

Fix CI failures: skip deploys when secrets missing, skip legacy API lint
  .github/workflows/deploy.yml
  packages/api/package.json
Due: api

Add driver app placeholder assets and web dependencies
  apps/driver/.gitignore
  apps/driver/app.json
  apps/driver/assets/adaptive-icon.png
  apps/driver/assets/favicon.png
  apps/driver/assets/icon.png
  apps/driver/assets/splash.png
  apps/driver/expo-env.d.ts
  apps/driver/package.json
  pnpm-lock.yaml
Due: none

Add missing ESLint config for driver app to fix CI lint
  apps/driver/.eslintrc.js
Due: none

Fix remaining CI lint failures for shared and mobile packages
  apps/mobile/.eslintrc.js
  packages/shared/package.json
Due: none

Guard deploy-web and deploy-api workflows against missing secrets
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-web.yml
Due: none

Fix deploy workflows: use preflight job for secret checks
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-web.yml
  .github/workflows/deploy.yml
Due: none

Remove auto-push trigger from deploy-web.yml
  .github/workflows/deploy-web.yml
Due: none

Add timeout limits to CI lint/typecheck/format steps
  .github/workflows/ci.yml
Due: none

Fix CI timeout: replace next lint with fast eslint
  apps/admin/package.json
  apps/superadmin/package.json
  apps/web/.eslintrc.json
  apps/web/package.json
Due: web, admin, superadmin

ci: simplify CI to lint + security only, lower test coverage thresholds
  .github/workflows/ci.yml
  apps/web/jest.config.js
Due: web

feat: implement 8 remaining features for hub operations
  apps/driver/app/(tabs)/profile.tsx
  apps/driver/app/_layout.tsx
  apps/driver/app/documents.tsx
  apps/driver/app/payment-methods.tsx
  apps/driver/lib/notifications.ts
  apps/driver/package.json
  apps/superadmin/app/(dashboard)/analytics/page.tsx
  apps/superadmin/app/(dashboard)/dashboard/page.tsx
  apps/superadmin/lib/api.ts
  apps/web/app/(dashboard)/orders/page.tsx
  apps/web/app/(dashboard)/reports/page.tsx
  apps/web/app/(dashboard)/routes/page.tsx
  apps/web/app/(dashboard)/tracking/page.tsx
  apps/web/package.json
  e2e/fixtures/hub-pages.ts
  e2e/fixtures/test-data.ts
  e2e/web/hub-auth.spec.ts
  e2e/web/hub-fleet.spec.ts
  e2e/web/hub-orders.spec.ts
  e2e/web/hub-routes.spec.ts
  packages/api-python/app/core/config.py
  packages/api-python/app/routers/auth.py
  packages/api-python/app/routers/hub_delivery.py
  packages/api-python/app/routers/hub_routes.py
  packages/api-python/app/services/__init__.py
  packages/api-python/app/services/notifications.py
  packages/api-python/requirements.txt
  pnpm-lock.yaml
Due: web, superadmin

style: fix prettier formatting for all new/modified files
  apps/driver/app/_layout.tsx
  apps/driver/app/documents.tsx
  apps/driver/app/payment-methods.tsx
  apps/driver/lib/notifications.ts
  apps/superadmin/app/(dashboard)/analytics/page.tsx
  apps/superadmin/app/(dashboard)/dashboard/page.tsx
  apps/superadmin/lib/api.ts
  apps/web/app/(dashboard)/reports/page.tsx
  apps/web/app/(dashboard)/routes/page.tsx
  apps/web/app/(dashboard)/tracking/page.tsx
  docs/GAP_ANALYSIS_REPORT.md
  e2e/fixtures/hub-pages.ts
  e2e/web/hub-auth.spec.ts
  e2e/web/hub-fleet.spec.ts
Due: web, superadmin

feat: add CJDQuick OMS integration for order sync and delivery status
  apps/web/app/(dashboard)/settings/integrations/page.tsx
  apps/web/app/(dashboard)/settings/page.tsx
  packages/api-python/app/core/config.py
  packages/api-python/app/main.py
  packages/api-python/app/models/delivery_order.py
  packages/api-python/app/routers/__init__.py
  packages/api-python/app/routers/hub_delivery.py
  packages/api-python/app/routers/hub_routes.py
  packages/api-python/app/routers/integrations.py
  packages/api-python/app/services/cjdquick.py
  packages/database/migrations/009_cjdquick_integration.sql
Due: web

docs: add Supabase migration instructions to CLAUDE.md
  CLAUDE.md
Due: none

feat: show CJDQuick orders on orders page with source filter and badges
  apps/web/app/(dashboard)/orders/[id]/page.tsx
  apps/web/app/(dashboard)/orders/page.tsx
Due: web

feat: add complete reverse pickup flow for customer returns
  apps/driver/app/(tabs)/stops.tsx
  apps/driver/app/_layout.tsx
  apps/driver/app/pickup/[pickupId].tsx
  apps/driver/app/pickup/_layout.tsx
  apps/driver/lib/api/pickup.ts
  apps/driver/lib/store/pickup.ts
  apps/driver/lib/types/pickup.ts
  apps/web/app/(dashboard)/pickups/[id]/page.tsx
  apps/web/app/(dashboard)/pickups/new/page.tsx
  apps/web/app/(dashboard)/pickups/page.tsx
  apps/web/components/dashboard/sidebar.tsx
  packages/api-python/app/main.py
  packages/api-python/app/models/reverse_pickup.py
  packages/api-python/app/routers/__init__.py
  packages/api-python/app/routers/hub_delivery.py
  packages/api-python/app/routers/integrations.py
  packages/api-python/app/routers/reverse_pickups.py
  packages/api-python/app/services/cjdquick.py
  packages/database/migrations/010_reverse_pickups.sql
Due: web

Fix auth token contamination and OTP datetime comparison bugs
  packages/api-python/app/core/security.py
  packages/api-python/app/routers/hub_delivery.py
Due: none

Path conditions:
  api: any of: packages/api/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/e2e/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**
  web: any of: apps/web/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/e2e/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**
  admin: any of: apps/admin/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/e2e/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**
  superadmin: any of: apps/superadmin/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/e2e/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**
